<div class="main">


<% OlfInfo.where(olf_id: 25395).each_with_index do |c,index|%>

  <div class="title<%=index%>">
    <%= c.name %>
  </div>

<div class="content<%=index%>">
    <%=  c.content%>
</div>


<br>
<% end %>

</div>


<style media="screen">
.VarianteHomonyme {

    color: #254c8c;
    font-weight: normal;
    margin-bottom: 1.53846em;

}

ul{

 margin:0px;
 padding:0px;
}

.main{
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 13px;
}


[class^='title']{
  font-size: 18px;
  color: red;
  margin-bottom: 5px;
}

[class^='content']{
  font-size: 13px;

  color: black;
}
li{
  margin-left: 20px;
}
.AdresseLocution {
  font-size: 13px;
    color: #3264b8;
    font-weight: normal;
    list-style: none;
        list-style-type: none;

}
 .ExempleDefinition {

    color: #1d1d1d;
    font-style: italic;

}
.TexteLocution {

    color: #1d1d1d;
    margin-bottom: 5px;
    display: block;

}

.Synonymes {

    list-style-type: square;
    margin-left: 2.30769em;
    margin-top: .76923em;

}

.Synonyme {

    color: #3264b8;
    margin-top: .38462em;
    /* list-style: none;
        list-style-type: none; */
}

.TypeDifficulte{

    color: #3264b8;
    font-size: 1.07692em;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold;
    padding-left: .76923em;

}

.AdresseDifficulte {

    color: #016a18;

}
.NumDifficulte{
  font-weight: normal;

margin-bottom: .76923em;
list-style: none;
}
.DivisionDefinition {

    color: #3264b8;
    margin-bottom: .76923em;

}

.indicateurDefinition{
    color: black;
}

.ExempleLocution {

    color: #1d1d1d;
    font-style: italic;

}
.LibelleSynonyme {

    color: #1d1d1d;
/* display: block; */
    font-weight: bold;
    text-transform: uppercase;
    display: block;

}
.SensSynonymes{
    margin-left: 20px;
    line-height: 24px;
    margin-bottom: 11px;
}
.Homonyme {

    color: black;
    margin-bottom: .76923em;

}
</style>
